<!-- cargando plantilla -->
{% extends "plantilla.html" %}

<!-- carga de filtros -->
{% load filtros %}

<!--cargando carpeta statica-->
{% load static %}

<!-- abriendo contenido variable -->
{% block content %}

<div class="container">
    <div class="row">
        <div class="card text-white bg-success mb-3" style="max-width: 30rem;">
            <div class="card-header  text-dark text-center">
                <h3><b>CHEQUE N°: {{detalleCh.numCh|completar}}</b></h3>
            </div>
            <p class="card-text">
            <div><b>Id Cheque:</b> {{detalleCh.id}}</div>
            <div><b>Proveedor:</b> {{detalleCh.proveedor}}</div>
            <div><b>Banco: </b>{{detalleCh.banco}}</div>
            <div><b>Fecha de carga:</b> {{detalleCh.fechaCarga|date:"d/m/Y"}}</div>
            <div><b>Fecha de vencimiento:</b> {{detalleCh.fechaVto|date:"d/m/Y"}}</div>
            <div><b>Monto:</b> {{detalleCh.monto}}</div>
            <div><b>Pago:</b> {% if detalleCh.pagado %} Cancelado
                {% else %}
                No cancelado
                {% endif %}</div>
            <div><b>Situacion:</b> {% if vencimiento < detalleCh.fechaVto %} No exigible
                    {% else %}
                    En fecha!
                    {% endif %}
            </div>
            </p>
        </div>
    </div>

    <div class="row">
        <!-- <a href="/">Regresar a inicio</a> para mejor practica como abajo-->
        <a href="{% url 'index' %}" class="btn btn-danger"><b> REGRESAR AL INICIO</b></a>
    </div>
</div>

{% endblock %}